/* Global */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    font-family: 'Times New Roman', Times, serif;

}

/* Header */
header {
    width: 100%;
    background-color: #f1f1f1;
    color: #343a40;
    padding: 15px;
    text-align: center;
}

/* Central Header */
.central-header {
    text-align: center;
    background-color: #f1f1f1;
    margin: 0;
    text-transform: uppercase;
}

/* Navigation */
.navbar {
    background-color: #333;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    background-color: white;
    position: absolute;
    width: auto;
    left: 0;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    z-index: 1000;
}

.menu li {
    padding: 10px;
    text-align: left;
    background-color: #333;
}

.menu a {
    text-decoration: none;
    color: white;
}

.icon {
    font-size: 24px;
    cursor: pointer;
}

.web-space {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

/* Footer */
footer {
    background-color: transparent; /* Makes the footer blend with the page background */
    text-align: center;
    padding: 10px;
}

/* Main Content */
.content {
    display: flex;
}

/* Sidebar */
.sidebar-left {
    width: 10%;
    min-width: 200px;
    background-color: #dcdcdc;
    position: fixed;
    top: 0; /* Adjusted to start from the top */
    bottom: 0;
    overflow-y: auto;
}

.sidebar-left h3 {
    margin-left: 10px;
    top: 5px;
}

/* Article Section */
article {
    float: left;
    padding: 10px;
    width: 98.5%;
    background-color: #f1f1f1;
}

.article-right {
    width: calc(100% - 220px);
    margin-left: 220px;
    background-color: #f1f1f1;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.article-right h3 {
    text-transform: capitalize;
    text-align: center;
}

.article-right-img {
    width: 65%;
    margin-left: 25%;
    background-color: #f1f1f1;
    box-sizing: border-box;
}

/* Central Paragraph */
.central-paragraph {
    width: calc(100% - 220px);
    text-align: center;
    background-color: #f1f1f1;
    margin-left: 220px;
    font-weight: bold;
}

/* Extras */
.loggin {
    margin-top: 10px;
    margin-left: 5px;
}

#hidden_work {
    display: none;
    list-style-type: disc;
}

.sheridan-logo {
    max-width: 100%; /* Makes sure the logo doesn't overflow its container */
    height: auto;    /* Maintains the aspect ratio of the image */
}

.project-list {
    margin-top: 5px;
    margin-bottom: 0;
}

.gallery {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-anchor {
    padding-top: 120px;
    margin-top: 120px;
}

.gallery img {
    max-width: 200px;
}

.description {
    flex: 1;
}

.description h2 {
    text-align: center;
}

/* Links */
.sidebar-left a:link {
    color: blue;
}

.sidebar-left a:visited {
    color: green;
}

.sidebar-left a:hover {
    color: orange;
}

.sidebar-left a:active {
    color: red;
}

/* Scroll to Top Button */
#scrollTopBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99; /* Ensure it stays on top of other elements */
    font-size: 24px;
    background-color: transparent; /* Transparent background */
    color: black; /* Black arrow */
    border: none; /* No border */
    outline: none; /* Remove outline */
    cursor: pointer;
    padding: 0; /* Remove padding */
}

#scrollTopBtn:hover {
    color: rgba(0, 0, 0, 0.7); /* Make the arrow slightly transparent on hover */
}


